

body {
  margin: auto;
  width: 640px;
  padding: 50px;
  font-family: 'Lexend Deca', sans-serif;
  color: #2E475D;
  background-color: lightgrey;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAYUAAACBCAMAAAAYG1bYAAAAY1BMVEUAt7L///8AtrEqwLwAs67u+voavbjF6ed90s9s0M3w/Pv7//9Cwr3k+Pfn9vVAxsJxzMlRycbT8fCj39266Oar4+Gw5OLW8vGX3NqF19RYycVIxcHU8fDK7e3C6ejd9fSQ2tjMgpFbAAANTElEQVR4nO2da5OquhKGMUS2gJdR8TK4xPn/v/KA15CkL4FGrTq8VfvLriwG85BO0t3pRBNI02I3W69W8aj+Wq3Ws10xBfs68v7ffJ8mWms1Sk51fybpPmdTOP+oGkA0Slo1CjU7syicSz0SGE5Kl/9ICouRwdBSOl3gFI6jJXqDVHREKCxL/ekX/D+RLpcQhXMyDoR3SSVnP4UiGiG8TyoqfBS245TwVim1dSnsxynh3dJ7m0I1joS3S6mqTeEyzgkfkIouJoV8PkL4hNQ8NyjMxknhM9KzF4XNCEFUij/J6sOTAtMeKdfFdHPZqoA/az0x3GtF/JvGg3z9j/k0dW+OPvP+UM6vbDopiRNfZ3mbnx4UCtZQUGq+3ywyU9PF5bA5V9vZOk46OMOViv+qzWWZBWh62VS/MfSnlI7mv/vqXFXHdcToBqWScltV1f53BTevH3r6K+pW2zKhfmP9k46H7Lre2a5YHaKLOwXOUFCq3EwQZefjKQkDoU8+VztL55P3L+nk7+WtnB6pdZ9S6+oZdZnuYi+H5uPLHo3yyv+HXy9gbIgn1Zzxeav5jULFadt6PEgiTdgWxtw6dtDe7WKlfrNWm8UJ/WU6tr4CnwvH+eHnBH6oTtsvwPJH6OpKYc1oWcIx05amRRnxpvrnjqWjznaXtRwzN+Ul8tN06UQfl7HdXp2WdqMMdDzrP/ctaQepWjcUpnSv6TSgey4zDofX7r2rCpuCZ7RO4U5ofrzb3sKg5p6vLzv5H+qBUC8/GZ94VlPYkn3mfWFEixm5E1dl2CN9+m29uLcP4IWHirxx+ItFwQ6KXbX0sgV+Em3v9bamQBoklQR3EBk31ehUz1NmdoaK/dkNKdAJGjCILbT619/I9+GqyLFd9zcg+3ddUyCHjO6ylCmQSQzuszCZnQFZuKV/WIJf1tRoD4yXer5x5g/ExC5pWzOJzlSjjsYjnyHDQQEfWZgMqw9+iYDHXh+B5pMfgwI4Hc6cn4ZMneRg0JuIjCtoxhrVK2cVYzyz99x81cuY3ragXnnXSbBFNAYY/MudT1clGdSW3hTrffRHmi1unzhaxuCa7tD5oaaOz+erGdho6vsYNNj8ohlvuXCeh1jtnLQ2vxE1OauY1yNeQUtrzdx+EHp9ZbCF8dsk+NNaKsZb2qsk/wLtIXIPv448E027Sa81JeAyVzIUXoYBNZuuTUKWfUujb8FGWbvXHmECQGQXx1GCt8DGOkfASlGcwn9Is6njR0AGuDnlg43aUbFnyAwQRYFk0JuCH4PQWCh4FFybJEtBEx4xcg87PAXv3CBE4cik4NgkUQqUzWa4iIan4ItpC1F4dS5BIRuQgkqIHyORY9SbwuTiul1kKBhzJEFhsmv3hCQFcj/F8Fm/gcKkGoiC8VyKgmWTBCmQ/uaDRFBfgIK7XpWhcAqg0N67yVGgPWIiSUYSFBzvlwgF08qQFNrWWY4C6Rz+E8lvkaDg+F0kKLTSCWkKLZskRgHfNE/E0n9FKNh+RQEK0/aSnabQ8lkLUbiG7jGdhdJ/ZSgspSlc2kaOQcH8LKUoUP4wsfRfGQpWeLIvhfzP+nkcCoZNEqJAOeiRsPdnKOTtlWIvCuetk1/AovCKu8lQ0MSm2ReSk6eQ7/b7ovIGyF211goIhfUKVxL50h9ZFF42SYQCGBB9CE+HkqKw1DfFv0BhAVMLJoWEqmTgfUsehadNEqFAxeOhxANxCvcmSuuUTKporRQxCl3ekknhYZMkKEAJGg/9CkLgULg20yXuZG/tGT5F4WGTBCgQkR3D3yshJoVmRCBRx0ZG/36Mwn1ESlDAP7qdKAQ+hcaxhX4exvz8OQqLq03qT4GI7Egf1gyg4EvANbT5Bgq3j7Q/BXyR+k/6sGYIBcLN+3o1jALc08hhGj6Fq03qTeGErs8X4idmgyigGSlGRhtCYQlrs02hEzcBFJou6k0BXRHKbZk7UogUsoh+OXI6750z4IBOAIXGJvWlgCoHMuvfSQExmMv+FOpeWvlWHyEUaps0KIUhyhsFUkDDHi8/Th8/km9PGkRhOehYkNwyd6aADYZUhIIvnB5EobZJw1EY5gB/KAXM5/7cT/ajkLlzQxiFyWkwCrJb5h4UduA/2MlQ8IQRAylM4TzVfhR4R8ffQAH5B2chCrmzFAykMIEPmPaiQB7JeR8FODdkKkTBHfehFGD1oXAZrMhUMAWsi2Vm59ZRjy+iAJyhk1A4BXh6zp8P7Rt3tk3SN1DI5AKcjjpQgH2+j1/YOwfDTsL+Agr5esD6Rh0owFOfGIWf76MwyG7t+SrhFOCjg7EUBfuo6xdQsCtCiEpyXpCj8IUWiVHKorvCKSCH1qQsknMy5RsoyMb72wrfLyAHsKUoTPvu2pBH99gvDDc1hFOA3XliK1XHhfEdFCYDRBY6UsDCbVJ7Z+cE85dQEMyJ7EsB3i4shCi4h5S+hILnaPVnKKgEzsMohCi4h/kRCoF/qqdn2/GtfIYCZpC2MhQ8S0KEwjGsIFbfKM8wbtXQuDNWXOFPhILvdyIUtmGlznpHPIWz8jpRQHNon0uIPhS8gRSEwo5K622rf/R/iG1DGAW4ZlcjTj4Soan/N6IUgor09acwxLYhMCsMOwj/mrm6UcinFVQlFKUQVH6RRwHP15bPhQnLkEQH/45DYfYDqZzDtbBRCo/6+izxcvNwI5eJX2chly1sHLfF8lSRO1zht8RmZx1UBpNHIcZTtv0VV99DgSoJ8ZnzCw0FbBNjiXt+AT++IH3DDv8UCbUWMarsvptCQI1q7vkF4iiP1HHzx6swKWiyKv3sc2MBDQC2xR0L1Fwje/Maj0L9UrA/+64PnS68UcD87S3xTxcSXEWz9GgK1yOedIFUc7f1fgpsm8SmgHoJGklmrNLnnZN0x1n+r3hjIdKkPJxoCtwayQGnzuF6xjcJbhuws/+LRqzfZjkbEQoLQptiV7o3DzEoMG1SSAUG4lBrvhKboYXqYLRr8/SN8jgV7RkUmDYpqBoJYYczsW2DEIW2371/ZZ5jezhwKPBqrIdQUBHY4iaxY4ZCFKzqgf2rVO3DKeCuxrvC6iNRw2vzVVWqrJiARMW2VqyHRYFlkwIrtlHDS+hAgwwFy70lUr3QnGl4FDg2KbSGJLU6+aLqhXZQQISCeQkCk4JKSJsUSoGqnCdS1FaEgnNdlkw9VcMlwqRAlvfqUNWWiuTR9/K8h4JbaVuGwsHoXSYF7NTdTeEVnikPlZ1f/iEK7h5SqNq58UVyKaiIMOTy1c4lsjL6U/DMT0IU0nAKdJ1+8cr/k/4Q+lPwrdXeef+Cnb1E2KQBbsEQyF7tS6Hw7VveeReJTYGwSV1uhFH/0NckL2yjbyPpScELYYDbkZDcPHss4r7QDhSowvPuHXsOg2HvqCr8WRPyN4XBZsZNYEItiHlHFXxw2+o1PPBGWSQV0/e1rejeAAXFmzTDoRP0eKT2u8ceaMQmGct7uNnCOemLBS8oz6paR7/UcOl+d2EO30fd9VbKtozC2bCHyPMlYhteo7ofnD9zcTZAiKOQvB1J/THu8ex6CfACvECSjI/wZBzzhgse+S+QhP++YcDgVm7WODLZkAFovafvtO3aY0fEqStxyXb7AmtwmeK/5Ro0Nq39GIjWc0Mr3E1kqEdvogk5XqhQhlcbeCBcJTE9m7YGNEn+qRHs4BY0yCQdfM+EGtNOVTWJJmRwtMNgWGCXO1+fSd2kwlD7mDcwGCD/PvAC1kYAmD+8lxUDce0FDaG565zOmwmdGZZQZrWp3qska52iTr515RJciPudcFZn+D/Anf+Z3ixdZzXl+XfbmgLjRnTKA9bSgcOg/gB63jmf2UtsXbpWbgEnT6vIY0Ec6+HbWgAQIl+F6w0j/l9vniJgfLXfOOHmFy63JzdNhfvKIVq6V0yo2O7XAusDFdnL5cxz/EOnlp3JkZ2w85t2jOh/s1KJoFVEu6Wa0cMh22xL+ISB+8pOpwVo7+tf6y03KR56r5uboyfb2uk199fcml1boKuOdrLuJeX0RmMamwUQ56i0jmYb8OPNDudtekoUXAfbJ6XXRYipe/26Yg4Veo7K4jrh5Id6UNIWOUn/u73BtEoT4JlKJ7Pqiivf/MVEvyp92t2emFcpKw3mulprKLDSi5VSyWmd2ipPqzhu7spBD3mA7xzFpfNIXOtVjA24+pHJ/NS8EasLmjeYn+ZNc+SZ14eu4oRjbJu2q3Q9h6DauiYkXDcDzANAXQ7ZdH9m578W+Eas5kE/M6TxbTF8pbDhDIZRQ+i2C7htjIcpSzyK1N0lfqMwWC2TUageVyzdnUTSp+FGcaSi+xnFh6tO9hjWKJaeCZtPh+mQtfdGefVyj7zc1lg8YJS8lOGjMoIH+xHDG6WUkT9uhnCqcYp+m1RkOkhbgbTFmu+MG9VHet3yoFnhTOAirlGiUpEVPbKDykuWN3ZUDymd2q5kN7S/KUcOA0rp0g0g+xIsDj+oo3dUVzUu8pnvjLQ/zSUv0uR6eekoMTW1Kn4Kf6QMTjbKit1svVrFo/prtVrPdgWcg/U/WNLVmj2DMYMAAAAASUVORK5CYII=");
       }

p {color: black;
  text-align: center;
  font-family: Monospace;
  font-style: italic;
  font-size: 20px;
  font-weight: bolder;
  width: 500px;
  padding: 15px 20px;
  border: 10px double darkblue;
  box-sizing: border-box;
  margin: 15px 20px;
  border-radius: 5px;
  }

  p1 {color: black;
    text-align: center;
    font-family: Monospace;
    font-style: italic;
    font-size: 20px;
    font-weight: bolder;
    width: 500px;
    padding: 15px 20px;
    border: 10px hidden blue;
    box-sizing: border-box;
    margin: 15px 20px;
    border-radius: 5px;
    }

.geenborder {
  color: white;
  font-style: italic;
  font-size: 20px;
  font-weight: normal;
  width: 0px;
  padding: 0px;
  border: 0px solid;
  margin: 0px;
  border-radius: 0px;
}
h1, h2, h2, h3{
  color: black;
  font-family: monospace;
  font-weight: bold;

}
a:link, a:visited {
  background-color: black;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
tbody {
  color:babyblue;
}
a:hover {
  font-size: 20px;
  font-family: monospace;
}
p a:visited {
  color:black;
}
